my-pokemon {
  #page-title b {
    width: auto !important;
    margin-top: 10px;
  }

  #settings {
    float: right;
  }

  #no-pokemon {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    #catch-pokemon-btn {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
