<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Pokémon</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div id="no-pokemon" *ngIf="pokemonList.length === 0">
    <h4>You haven't caught any Pok&eacute;mon yet.</h4>
    <button id="catch-pokemon-btn" ion-button (click)="catchPokemon()">Gotta catch 'em all!!</button>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemonList" (click)="showDetails(pokemon.id)">
      <p *ngIf="pokemon">{{ pokemon.species.name }}</p>
    </ion-item>
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more Pokémon...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
